header {
  padding: 5px;
  text-align: center;
  color: #5A5353;
  font-weight: bold;
}

h2, h3 {
  background-image: url("https://cdn.pixabay.com/photo/2017/05/30/15/26/paper-2357298_1280.jpg");
  color: #5A5353;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
}

h2 {
  text-align: left;
}

h3 {
  text-align: right;
}

.info {
  width: 500px;
  height: 400px;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 400px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Added image hover because it was fun */
img:hover {
opacity: 0.5;
}
